.seccion1, .carrusel_con_imagenes_peque {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

h2, h3, h4, h5, p {
  text-align: center; }

.seccion1, .carrusel_con_imagenes_peque {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

h2, h3, h4, h5, p {
  text-align: center; }

.seccion1, .carrusel_con_imagenes_peque {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

h2, h3, h4, h5, p {
  text-align: center; }

@media (max-width: 480px) {
  .menu li {
    justify-content: center; }
    .menu li span {
      display: none; }
  header ul {
    justify-content: center !important; }
  nav .container-fluid {
    justify-content: center !important; }
  .logo {
    width: 90px !important; }
  .seccion1 {
    width: 100% !important;
    position: static;
    transform: translateX(0%); }
  .seccion2 {
    width: 100%; }
  .seccion3 {
    margin: 0 !important; }
    .seccion3 .col-sm-6 {
      padding: 0; }
  .categorias {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center; }
  .categorias img {
    width: 60px !important; }
  .categorias img:hover {
    width: 80px !important;
    cursor: pointer; }
  h2 {
    font-size: x-large; }
  p {
    font-size: larger; }
  li {
    list-style: none !important;
    font-size: large !important; }
  .notifoto {
    max-width: 220px !important; }
  .carrusel_con_imagenes_peque {
    width: 60% !important; } }

header ul {
  background-color: #BC1C88; }
  header ul li .nav-link {
    color: #000000;
    font-size: large;
    font-family: 'Bebas Neue', cursive; }

header {
  width: 100%; }

.seccion1, .carrusel_con_imagenes_peque {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

h2, h3, h4, h5, p {
  text-align: center; }

.perfil-section {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%; }

main {
  margin-top: 50px; }

.menu {
  background-color: #393a3d41;
  height: 100%; }
  .menu .foto-perfil-grande {
    left: 50%;
    width: 70%;
    position: relative;
    transform: translate(-50%, -20%); }
    .menu .foto-perfil-grande img {
      border-radius: 100%; }
  .menu ul {
    margin-top: 30px;
    transform: translateY(-20%); }
    .menu ul li {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: left;
      padding: 15px 0 15px 0;
      cursor: pointer;
      font-family: 'Bebas Neue', cursive; }
      .menu ul li span {
        font-size: large;
        color: #d7cdcc; }
      .menu ul li img {
        width: 30px; }
    .menu ul li:hover {
      background-color: #000000; }

.formulario-perfil {
  padding-left: 30px; }

.razon {
  padding: 40px; }

.beneficios-requisitos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #393a3d41; }
  .beneficios-requisitos ul li {
    list-style: none;
    text-align: center; }

.formulario-colaboracion {
  margin-top: 40px; }
  .formulario-colaboracion .align-items-center {
    justify-content: center; }

* {
  color: #ffffff; }

body {
  background-color: #000000; }

main {
  margin-bottom: 15px; }

.logo {
  width: 65px; }

h1 {
  text-align: center; }

h2, h3, h4, h5 {
  font-family: 'Bebas Neue', cursive; }

p {
  font-family: 'Bebas Neue', cursive; }

option {
  color: #000000; }

.seccion1 {
  width: 60%; }

.seccion3 {
  margin: 30px; }

.carousel-item {
  background-color: transparent !important; }

.carrusel_con_imagenes_peque {
  width: 40%; }

img {
  border-radius: 25px; }

.categorias {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  margin: 20px; }

.categorias img {
  width: 100px;
  transition: all 0.2s; }

.categorias img:hover {
  width: 120px;
  cursor: pointer; }

.card {
  background-color: rgba(57, 58, 61, 0.3);
  overflow: hidden; }

.notifoto {
  max-width: 300px;
  display: block; }

.active {
  color: #ffffff !important;
  background-color: #000000; }

footer {
  text-align: center;
  border-top: solid 2px #ffffff; }
  footer a {
    padding: 14px; }

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center; }
