@import "variables/variables";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixin";
@import "sass2/tablet";
@import "sass2/movil";
@import "partial/header";
@import "partial/mainPerfil";
@import "partial/mainTconN";

// .populares, .proximos_eventos {
//     background-color: gray;
// }

// solo del index a continuacións
*{
    color: $blanco;
}
body {
    background-color: $negro;
}
main {
    margin-bottom: 15px;
}
.logo {
    width: 65px;
}

h1 {
    text-align: center
}

h2,h3,h4,h5 {
    @extend %h2;
    font-family: 'Bebas Neue', cursive;
}

p {
    @extend %h2;
    font-family: 'Bebas Neue', cursive;

}
option {
    color: $negro;
}


.seccion1 {
    @include secciones (60%);
    @extend %centradorDiv;
}
.seccion3 {
    margin: 30px;
}
.carousel-item {
    background-color: transparent !important;
}
.carrusel_con_imagenes_peque {
    @include secciones (40%);
    @extend %centradorDiv;
}

img {
    border-radius: 25px;
}


.categorias {
    @include alinearYcentrarGrid(center, auto);
    margin: 20px;
}

.categorias img {
    width: 100px;
    transition: all 0.2s;
}

.categorias img:hover {
    width: 120px;
    cursor: pointer;
}

.card {
    background-color: rgba($color: $gris, $alpha: 0.3);
    overflow: hidden;
}

.notifoto {
    max-width: 300px;
    display: block;
}

.active {
    color: $blanco !important;
    background-color: $negro;
}

footer {
    text-align: center;
    border-top: solid 2px $blanco;

    a {
        padding: 14px;
    }
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}