@import "variables/variables";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixin";
@import "partial/tablet";
@import "partial/movil";
@import "partial/headerYfooter";
@import "partial/mainPerfil";
@import "partial/mainTconN";
@import "partial/mainAU";
@import "partial/mainInicio";

// .populares, .proximos_eventos {
//     background-color: gray;
// }

// solo del index a continuacións
*{
    color: $blanco;
}
body {
    background-color: $negro;
}
main {
    margin-bottom: 15px;
}
.logo {
    width: 65px;
}

h1 {
    text-align: center
}

h2,h3,h4,h5 {
    @extend %h2;
    font-family: 'Bebas Neue', cursive;
}
h2 {
    display: flex;
    width: 55%;
    max-width: 445px;
    margin: auto;
    justify-content: center;
    border-bottom: solid 1px $gris; 
}

p {
    @extend %h2;
    font-family: 'Bebas Neue', cursive;

}
option {
    color: $negro;
}

img {
    border-radius: 25px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;
}
html, body {
    height: 100%;
}
.form-control {
    background-color: $gris;
}