// colores
$berry: #781731;
$negro: #000000;
$gris:#282a3149;
$blanco: #ffffff;
$beige: #d7cdcc;

// tamaños
$desktop: 1024px;
$tablet: 768px;
$mobile:480px;
$peque: 40px;

$menuPerfil1: "Mis entradas";
$menuPerfil2:"Editar Perfil";
$menuPerfil3:"Preferencias";


