@import "../variables/variables";

header ul {
    background-color: #BC1C88;
    
        li {
            .nav-link {
                color: $negro;
                font-size: large;
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
header {
    width: 100%;
}
footer {
    text-align: center;
    border-top: solid 2px $blanco;

    a {
        padding: 14px;
    }
}