@import "../variables/variables";

header ul {
    background-color: $berry;
        li {
            .nav-link {
                color: $negro;
                font-size: large;
            }
        }
    }