@import "variables/variables";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixin";

@media (max-width: $mobile) {
    
    .exit {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center !important;
        align-items: center;
    }
    .menu {
        .foto-perfil-grande:hover{
                position: absolute;
                left: 50vw;
                top: 50vh;
                width: 100%;
        }
        li {
            justify-content: center;
            span{
            display: none;
            }
        }
    }
    header {
        ul {
        justify-content: center !important ;
        }
    }
    nav {
        .container-fluid{
        justify-content: center !important;
        }
    }
    .logo {
        width: 90px !important;
    }
    .seccion1 {
        width: 100%!important;
        @include acentradorDiv;
    }
    .seccion2 {
        width: 100%
    }
    .seccion3 {
        margin: 0 !important;
        .col-sm-6 {
            padding: 0;
        }
    }
    .categorias {
        @include alinearYcentrarflex(space-evenly);
    }
    .categorias img {
        width: 60px !important;
    }
    .categorias img:hover {
        width: 80px !important;
        cursor: pointer;
    }    
    h2 {
        font-size: x-large;
    }
    p {
        font-size: larger;
    }
    li {
        list-style: none !important;
        font-size: large !important;
    }
    .notifoto {
        max-width: 220px !important;
        
    }
    .carrusel_con_imagenes_peque {
        @include secciones (60% !important);
    }
}