@import "../variables/variables";


%centradorDiv {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


%achicarIconos {
    height: 200px;
}

%h2 {
    color: $negro;
    text-align: center;
}

