@mixin achicarIconos($tamaño) {
    height: $tamaño;
}

@mixin alinearYcentrarflex($justificado) {
    display: flex !important;
    justify-content: $justificado;
    align-items: center;
}
@mixin alinearYcentrarGrid($justificado, $tamaño) {
    display: grid;
    grid-template-columns: $tamaño $tamaño $tamaño;
    justify-items: $justificado;
    align-items: center;
}

@mixin secciones ($ancho) {
    width: $ancho;
}
@mixin acentradorDiv {
    position: static;
    transform: translateX(0%);
}