@mixin achicarIconos($tamaño) {
    height: $tamaño;
}

@mixin alinearYcentrarFlex($justificado) {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: $justificado;
    align-items: center;
    flex-wrap: wrap;
}

@mixin secciones ($ancho) {
    width: $ancho;
}
@mixin acentradorDiv {
    position: static;
    transform: translateX(0%);
}